NODE_ENV=production
PORT=3000

SUPABASE_URL=https://TU_PROYECTO.supabase.co
SUPABASE_SERVICE_KEY=TU_SERVICE_ROLE_KEY

EMAIL_USER=shieldgramorganization@gmail.com
EMAIL_PASS=wyknehhgagbtejeq

HCAPTCHA_SECRET=TU_HCAPTCHA_SECRET_KEY

SESSION_SECRET=cambia_esto_por_una_clave_aleatoria_larga_256bits
