NODE_ENV=production
PORT=3000

SUPABASE_URL=https://lmrkjbyjzoztmyyeccdt.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxtcmtqYnlqem96dG15eWVjY2R0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzOTkyMzYsImV4cCI6MjA4OTk3NTIzNn0.k9pJ5yp4zvDdLH8VyqkAb86sp4Jb6aKYtYZLKwsAnKo

EMAIL_USER=shieldgramorganization@gmail.com
EMAIL_PASS=wyknehhgagbtejeq

HCAPTCHA_SECRET=TU_HCAPTCHA_SECRET_KEY

SESSION_SECRET=cambia_esto_por_una_clave_aleatoria_larga_256bits
